<div *ngIf="!peliculas">
    <img src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" >
</div>

<div *ngIf="peliculas?.length === 0">
    <p>No hay funciones</p>
</div>

<div *ngIf="peliculas && peliculas.length > 0">
    <div *ngFor="let pelicula of peliculas; let index = index" class="pelicula-contenedor">
        <div>
            Pelicula {{index+1}}: {{pelicula.titulo | uppercase}} 
            <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button>
        </div>
        
        <div>
            {{pelicula.fechaLanzamiento | date: "dd-MMMM-yyyy" | uppercase}}
        </div>
        
        <div>
            {{pelicula.precio | currency}}
        </div>
    </div>
</div>
